#product_container
{
    width: 80%;
    margin:  auto;
}
.catName>ul
{
    display: flex;
    position: relative;
    padding-top: 50px;
    list-style-type: none;
}
.catName>ul>li
{
    margin: 10px;
}
.catName>ul>li>a
{
    text-decoration: none;
    color: black;
}
.Number_of_Cat_item_and_name
{
margin-top: 60px;
display: flex;
justify-content: space-between;
/* gap:15px; */
}
.Number_of_Cat_item_and_name>a
{
    text-decoration: none;color: black;
}
.Number_of_Cat_item_and_name>li
{
    list-style-type: none;
   cursor: pointer;
    margin-left: 10px;
}
.product_item_left_nav
{
    display: flex;
    margin-top: 30PX;
  
}
.left_filter_nav
{
    width: 5%;
    /* position: fixed; */
   
   
}
.hrline{
        border-left: 200px solid #ffc107;
        height: 1px;
}
/* .hrline1{
    border-left: 150px solid #ffc107;
    height: 2px;
    margin-top: 60px;
} */
.left_filter_nav>ul>li{
    list-style: none;
}
.left_filter_nav>ul>li>a
{
    /* display: flex;
    justify-content: space-between; */
    padding: 5px 0px 5px;
    /* border-bottom: 1px solid wheat; */
    
}
.left_filter_nav>ul>h5
{
    padding: 10px;
}
.left_filter_nav>ul>li>a
{
    text-decoration: 2px;
    color: gray;
}
.product_item
{
    width: 100%;
   
}
.product_item>ul
{
    display: flex;
    float: right;
    list-style-type: none;
}
.product_item>ul>li
{
padding: 2px;
}
.product_item_box
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-top: 40px;   
}

.product_item_box>div>img
{
    width: 230px;
    /* height: 200px; */
    
    
}
.product_item_box>div>ul>li
{
    display: flex;
    
}
.product_item_box
{
    margin-left: 30%;
    
}
.prodetail{
        
        border: 1px solid #ECF0F4;
        width: 99%;
        height: 130px;
        line-height: 15px;
        background-color: #FAFAFA;
        margin-top: -7px;
        border-radius: 0 0 8px 8px;
    
}
.procartbutton{
    width: 100%;
    background-color: black;
    color: white;
    margin-left: -1px;
    margin-top: -10px;
}

.sub_item>ul
{
list-style-type: none;
padding: 16px 0px 16px;
}
.sub_item>ul>li
{
    padding: 6px 0px 5px;
    display: flex;
  
}

.sub_item
{
    /* position: absolute; */
   visibility: visible;
   width: 100%;
  background-color: white;
  
}
/* .left_filter_nav>ul>li:hover .sub_item
{
    visibility: visible;
    margin-top: 20px;
    
    
} */
.sub_item>ul>li>a{
   text-decoration: none;
   color: black;
   font-size: 16px;
   margin-left: 10px;
}
.SortBy
{
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    background-color: white;
    box-shadow: 5px 10px 28px;
    /* visibility: hidden; */
    /* z-index: 500; */
}
.SortBy>ul{
    /* list-style-type: none; */
    margin-right: 10px;
}
.SortBy>ul>li>a{
    text-decoration: none;
}
.hn{
    display: none;
}

.Number_of_Cat_item_and_nameli:hover 
.SortBy
{
    visibility: visible;
}
#cloth{
    color: #ffc107;
    margin-bottom: -60px;
    margin-left: -10px;
}
#main{
    margin-bottom: 100px;
}
#sortPrice{
    margin-top: 10px;
    margin-left: 0px;
}

#nav_bar_manu{
    display: none;
    position: fixed;

}

#cart-head-const {
    border: 1px solid gray;
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    font-family: sans-serif;
    justify-content: space-between;
}

#cart-head-const > span,
#cart-head-const > h1 {
    margin-right: 5%; 
    color: aliceblue;
}

#cart-head-const > span > p > a {
    font-size: 15px;
    color: #ffc107;
}


/* Default styles for larger screens */
#product_container {
    width: 80%;
    margin: auto;
}

.catName > ul {
    display: flex;
    position: relative;
    padding-top: 50px;
    list-style-type: none;
}

@media only screen and (max-width: 450px) {
    .product_item_box
    {
        display: grid;
        grid-template-columns: auto auto;
        /* justify-content: center; */
        /* width: 100px; */
        grid-gap: 8px;
        margin-top: 40px;  
        margin-left: -10px; 
        /* width: 80%; */
    }
    .left_filter_nav{
        display: none;
    }
   
    .hn{
        display: block;
        /* margin-right: -100px; */
        /* border: 1px solid black; */
        margin-top: 20px;
    }
    #sortPrice{
        width: 100px;
        height:35px ;
        margin-right: 80px;
        justify-content: space-around;
        /* border-radius: 5px; */
        /* transition: ; */
    }
    
    #product-main{
        margin-top: 10%;
    }
    
.prodetail{
    height: 70px;
}

.procartbutton{
    width: 100%;
    background-color: black;
    color: white;
    margin-left: -1px;
    margin-top: 10px;
}
/* .productbox img
{
border: 2px solid red;
width: 100px;
    
} */
.product_item_box>div>img{
    width: 180px;
}


}