
.forgotPass{

display: flex;
justify-content: center;
align-items: center;
}


.forgotPassChild{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: .2px .2px 1px 1px black;
    width:min(98%,520px);
    height: 60vh;
    margin-top: 10%;

}

.forgotPassInput{

width:min(320px,90%) ;
height: 40px;
border-radius: 10px;
background-color: #e6e8e8;
border: 1px solid black;
font-size: 1.5rem;
}
.forgotPassChild input:focus{


}
.forgotPassChild input::placeholder{

    color: #9ba9b0;
    font-size: 1.5rem;
    text-align: center;
    

}
.btn1{
    align-self: center;
    

}